.semaforo{
    background-size: 100% 100%;
    height: 380px;
    position: absolute;
    width: 350px;
}

/* .off{
    background-image: url(../img/Vectores-04.svg);
} */

.stop{
    background-image: url(../images/Vectores-05.svg);
}

.go{
    background-image: url(../images/Vectores-06.svg);
}